{% extends "layouts/base.njk" %}

{% block meta %}
  {{ super() }}
  {% include "includes/meta-redirect.njk" %}
  <div id="seo"></div>
{% endblock %}


{% block content %}
  <a href="/produtos">Produtos</a>

  <main>Home</main>
{% endblock %}
