<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
    {% include "includes/meta.njk" %}
  {% endblock %}
  <title>{{ title }}</title>
</head>
<body>
  {% block header %}
    {% include "components/header.njk" %}
  {% endblock %}

  {% block content %}
    <main>Content</main>
  {% endblock %}

  {% block footer %}
    {% include "components/footer.njk" %}
  {% endblock %}
</body>
</html>
