{% extends "layouts/base.njk" %}

{% block meta %}
  {{ super() }}
  {% include "includes/meta-redirect.njk" %}
{% endblock %}


{% block content %}
  <a href="/produtos">Produtos</a>

  <main>Contato</main>
{% endblock %}
